<div class="container">
  <form class="row g-3" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group row col-12">
      <label for="firstname" class="form-label">Name des Kindes<span style="color:darkred">*</span></label>
      <input type="text" class="form-control" id="firstname" formControlName="firstNameControl" placeholder="Vorname" aria-label="Vorname">
    </div>
    <div class="form-group row col-12 col-sm-12">
      <input type="text" class="form-control" formControlName="lastNameControl" placeholder="Nachname"  aria-label="Nachname">
    </div>
    <div class="form-group row col-12 col-sm-12">
      <label for="birthday" class="form-label">Geburtsdatum<small> (z.B. 2019-02-02, falls noch nicht geboren, vorauss. Geburtsdatum)</small><span style="color:darkred">*</span></label>
      <input type="date" class="form-control" id="birthday" formControlName="birthdayControl" placeholder="yyyy-mm-dd"  aria-label="birthday">
    </div>
    <div class="form-group row col-12">
      <label for="geschlecht" class="form-label">Geschlecht<span style="color:darkred">*</span></label>
      <select id="geschlecht" formControlName="geschlechtControl" class="form-select custom-select mr-sm-2">
        <option selected></option>
        <option>mädchen</option>
        <option>junge</option>
      </select>
    </div>
    <div class="form-group row col-12">
      <label for="wunschtermin" class="form-label">Wunschtermin Aufnahme<small> (z.B. 2021-09-02)</small><span style="color:darkred">*</span></label>
      <input type="text" class="form-control" id="wunschtermin" formControlName="wunschterminControl" placeholder="yyyy-mm-dd" aria-label="wunschtermin">
    </div>
    <div class="form-group row col-12">
      <label for="geschwisterkind" class="form-label">Geschwisterkind bereits in Einrichtung <span style="color:darkred">*</span></label>
      <select id="geschwisterkind" formControlName="geschwisterkindControl" class="form-select custom-select mr-sm-2">
        <option selected></option>
        <option>ja</option>
        <option>nein</option>
      </select>
    </div>
    <div class="form-group row col-12">
      <label for="parentFirstName" class="form-label">Elternteil<span style="color:darkred">*</span></label>
      <input type="text" class="form-control" id="parentFirstName" formControlName="parentFirstNameControl" placeholder="Vorname">
    </div>
    <div class="form-group row col-12">
      <input type="text" class="form-control" id="parentLastName" formControlName="parentLastNameControl" placeholder="Nachname">
    </div>
    <div class="form-group row col-9">
      <input type="text" class="form-control" id="adres" formControlName="adresControl" placeholder="Adresse">
    </div>
    <div class="form-group col-3">
      <input type="text" class="form-control" id="houseNumber" formControlName="houseNumberControl" placeholder="Hausnummer">
    </div>
    <div class="form-group row col-6">
      <input type="text" class="form-control" id="plz" formControlName="plzControl" placeholder="PLZ">
    </div>
    <div class="form-group col-6">
      <input type="text" class="form-control" id="ort" formControlName="ortControl" placeholder="Ort">
    </div>
    <div class="form-group row col-md-6">
      <input type="text" class="form-control" id="email" formControlName="emailControl" placeholder="name@example.com">
    </div>
    <div class="form-group col-md-6">
      <input type="text" class="form-control" id="telefon" formControlName="telefonControl" placeholder="Telefon/Mobil">
    </div>
    <div class="form-group row col-12">
      <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Für Warteliste anmelden</button>
    </div>
  </form>
</div>
