 <div class="d-flex flex-column sticky-footer-wrapper min-vh-100 m-5">
  <div class="container">
    <div class="row cards p-3">
      <div class="card col-md-4 col-sm-12" style="width: 18rem;">
        <i-bs name="emojiSmile" class="text-secondary text-center mt-2" width="5em" height="5em"></i-bs>
        <div class="card-body text-center">
          <h2 class="card-title">Schritt 1: In die Warteliste eintragen</h2>
          <p class="card-text">Um Ihr Kind bei uns anzumelden, nutzten Sie bitte unser untenstehendes Online-Wartelistenformular.</p>
          <a class="btn btn-primary text-center">Formular ausfüllen</a>
        </div>
      </div>
      <div class="card col-md-4 col-sm-12" style="width: 18rem;">
        <i-bs name="emojiLaughing" class="text-secondary text-center mt-2" width="5em" height="5em"></i-bs>
        <div class="card-body text-center">
          <h2 class="card-title">Schritt 2: Persönlich Anmelden</h2>
          <p class="card-text">Sollte die KiTa einen freien Platz für Ihr Kind haben, kontaktiert Sie die KiTa-Leitung, um einen persönlichen Termin auszumachen. Hier erfahren Sie alle wichtigen Details und können die Betreuung Ihres Kindes individuell abstimmen.</p>
        </div>
      </div>
      <div class="card col-md-4 col-sm-12" style="width: 18rem;">
        <i-bs name="fileEarmarkCheck" class="text-secondary text-center mt-2" width="5em" height="5em"></i-bs>
        <div class="card-body text-center">
          <h2 class="card-title">Schritt 3: KiTa-Gutschein beantragen</h2>
          <p class="card-text"> Jetzt müssen Sie Ihren KiTa-Gutschein beim Jugendamt beantragen, spätestens zwei Monate vor KiTa Betreuung. Dieser Gutschein ist ihr Schlüssel zu einem kostenlosen KiTa-Platz in Berlin. Im Download finden Sie alle nötigen Hinweise und Links zur Beantragung des KiTa Gutscheins.</p>
          <a href="#" class="btn btn-primary text-center">
            <i-bs name="download" width="2em" height="2em"></i-bs>
          </a>
        </div>
      </div>
    </div>
  </div>

   <div class="pt-5" #target>
    <app-create-member>
    </app-create-member>
   </div>
</div>
