.card{
  background-color: transparent;
  border-color: transparent;
}
.btn-primary {
  background-color: transparent;
  border-color: white;
}
.btn-primary:hover {
  background-color: white;
  border-color: white;
  color: #EFBD19;
}
.btn-outline-primary{
  color: white;
}
/* #f4eddd */
.cards{
  background-color: #EFBD19;
}
